<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>

    <form th:action="@{/register}" th:object="${member}" method="post">
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요.">
            <div class="field-error" th:errors="*{email}"></div>
        </div>
        <br />
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요.">
            <div class="field-error" th:errors="*{password}"></div>
        </div>
        <br />
        <div>
            <label for="name">닉네임</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="닉네임을 입력하세요.">
            <div class="field-error" th:errors="*{name}"></div>
        </div>
        <br />
        <div class="row">
        	<div class="col">
	            <label for="sdId">시/도</label>
	            <select class="form-control" id="sdId" name="sdId">
	            	<option th:each="addrSd : ${addressSd}" th:value="${addrSd?.id}" th:utext="${addrSd?.sd}"></option>
	            </select>
	        </div>
        	<div class="col">
	            <label for="sggId">시/군/구</label>
	            <select class="form-control" id="sggId" name="sggId">
	            </select>
	        </div>
        	<div class="col">
	            <label for="umdId">읍/면/동</label>
	            <select class="form-control" id="umdId" name="umdId">
	            </select>
	        </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/}'|" type="button">취소</button>
            </div>
        </div>

    </form>
    
    <script th:inline="javascript">
		const selectSd = document.getElementById("sdId");
		const selectSgg = document.getElementById("sggId");
		const selectUmd = document.getElementById("umdId");
		
    	let addrSdId = [[${addressSd[0].id}]];
		let addrSggId = [[${addressSgg[0].id}]];
		
    	$(function() {
			// 초기 주소 값 세팅
			fn_init();	
		});
		
		// 시/도 변경 이벤트
		selectSd.addEventListener("change", function(e) {
			fn_addressSdEvent(this);
		});
		
		// 시/군/구 변경 이벤트
		selectSgg.addEventListener("change", function(e) {
			fn_addressSggEvent(this);
		});
		
		function fn_init() {
			[# th:each="addrSgg: ${addressSgg}"]
				var addrSgg = [[${addrSgg}]];
				if (addrSdId == addrSgg.sdId) {
					var opt = document.createElement("option");
					opt.value = addrSgg.id;
					opt.innerText = addrSgg.sgg;
					selectSgg.appendChild(opt);
				}
			[/]
			
			[# th:each="addrUmd: ${addressUmd}"]
				var addrUmd = [[${addrUmd}]];
				if (addrSdId == addrUmd.sdId && addrSggId == addrUmd.sggId) {
					var opt = document.createElement("option");
					opt.value = addrUmd.id;
					opt.innerText = addrUmd.umd;
					selectUmd.appendChild(opt);
				}
			[/]
		}
		
		function fn_addressSdEvent(obj) {
			while (selectSgg.hasChildNodes()) {
				selectSgg.removeChild(selectSgg.firstChild);
			}
			while (selectUmd.hasChildNodes()) {
				selectUmd.removeChild(selectUmd.firstChild);
			}
			
			addrSdId = obj.value;
			
			[# th:each="addrSgg: ${addressSgg}"]
				var addrSgg = [[${addrSgg}]];
				if (addrSdId == addrSgg.sdId) {
					var opt = document.createElement("option");
					opt.value = addrSgg.id;
					opt.innerText = addrSgg.sgg;
					selectSgg.appendChild(opt);
				}
			[/]
			
			addrSggId = selectSgg.value;
			
			[# th:each="addrUmd: ${addressUmd}"]
				var addrUmd = [[${addrUmd}]];
				if (addrSdId == addrUmd.sdId && addrSggId == addrUmd.sggId) {
					var opt = document.createElement("option");
					opt.value = addrUmd.id;
					opt.innerText = addrUmd.umd;
					selectUmd.appendChild(opt);
				}
			[/]
		}
		
		function fn_addressSggEvent(obj) {
			while (selectUmd.hasChildNodes()) {
				selectUmd.removeChild(selectUmd.firstChild);
			}
			
			addrSdId = selectSd.value;
			addrSggId = obj.value;
			
			[# th:each="addrUmd: ${addressUmd}"]
				var addrUmd = [[${addrUmd}]];
				if (addrSdId == addrUmd.sdId && addrSggId == addrUmd.sggId) {
					var opt = document.createElement("option");
					opt.value = addrUmd.id;
					opt.innerText = addrUmd.umd;
					selectUmd.appendChild(opt);
				}
			[/]
		}
    </script>
    
</th:block>
</html>